<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Necessário para Android 11+ -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarcodeCompras"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BarcodeCompras.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddItemIMDB"
            android:theme="@style/Theme.BarcodeCompras"
            android:windowSoftInputMode="stateVisible"/>

        <!-- 05.05.2025 Usar esse para padronizar igual ao Main (salvo Result compras) -->
        <activity android:name=".BuscarComprasActivity"
            android:theme="@style/Theme.BarcodeCompras" />
        <activity android:name=".BuscarBancoDadosActivity"
            android:theme="@style/Theme.BarcodeCompras" />
        <!--android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/> -->

        <activity android:name=".EditComprasActivity"
            android:theme="@style/Theme.BarcodeCompras" />
    <!--<activity android:name=".EditComprasActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"/> -->
        <activity android:name=".EditBancoDadosActivity"
            android:theme="@style/Theme.BarcodeCompras" />

           <!-- 05.05.2025 ResultComprasActivity deixa como está  -->
        <activity android:name=".ResultComprasActivity" />
        <activity android:name=".ResultBancoDadosActivity" />

    </application>
</manifest>